body{
    background-color: aqua;
    display: flex;
    justify-content: center;
    

}

#list-heading{
    border: 2px solid black;
    width: 100%;
    padding:20px;
    text-align: center;
    
}