#sec{
    background-color:lightpink;
    height: 30vh;
    padding:10px;
}
h2{
    text-align: center;
}
#btn{
    position: absolute;
    width: 130px;
    height: 40px;
    margin-left: 180px;
    margin-top:20px ;
}
.myTable{
    background-color: aquamarine;
    margin-top: 20px;
    padding:10px;
    
}
.accept_row{
    background-color: burlywood;
    margin-top: 20px;
    padding:10px;
}

