body{
    background-color:rgb(255, 233, 111);
    text-align: center;
}
.form{
    width:300px;
    height: 200px;
    border: 10px solid grey;
    border-radius: 20px;
    padding: 40px;
    margin: auto;
}
#number,#name,#password{
    width: 250px;
    height: 4vh;
    font-size: 15px;

}
#num1,#email{
    width: 250px;
    height: 4vh;
    font-size: 15px;

}
#submit{
    width: 100px;
    height: 40px;
    font-size: 15px;
    background-color:cadetblue;
    border-radius: 10px;


}

